<footer class="bg-light text-dark">
      <div class="container footer-padding py-md-6">
        <div class="row justify-content-md-between">

          <div class="col-4 col-md-2">
            <h2 class="footer-title h6 mb-3">Pages</h2>
            <ul class="nav footer-list flex-column">
              <li class="mb-1"><a href="/" class="text-muted">Home</a></li>
              <li class="mb-1"><a href="/narrative" class="text-muted">The Narrative</a></li>
              <li class="mb-1">
                <a href="/calendar" class="text-muted">Calendar</a>
              </li>
              <li class="mb-1"><a href="#" class="text-muted">Support</a></li>
            </ul>
          </div>
          <div class="col-4 col-md-2">
            <h2 class="footer-title h6 mb-3">Social</h2>
            <ul class="nav footer-list flex-column">
              <li class="mb-1"><a href="https://twitter.com/thenarrativevod" class="text-muted">Twitter</a></li>
              <li class="mb-1"><a href="https://www.instagram.com/thenarrativevod/" class="text-muted">Instagram</a></li>
              <li class="mb-1"><a href="https://www.youtube.com/channel/UCFhAy3x
zNwBmfiiuWxPEBvA?view_as=subscriber" class="text-muted">YouTube</a></li>
              <li class="mb-1"><a href="https://beacons.ai/the.narrative" class="text-muted">Beacons</a></li>
              <li class="mb-1"><a href="https://www.linkedin.com/in/jahnay-bryan-209
795176/" class="text-muted">LinkedIn</a></li>
              <li class="mb-1"><a href="https://podcasts.apple.com/us/podcast/the-na
rrative/id1529795913" class="text-muted">Apple Podcast</a></li>
              <li class="mb-1"><a href="https://open.spotify.com/show/6vlO45Q1tYox
P3JajKbYKX" class="text-muted">Spotify</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
            <h2 class="footer-title h6 mb-3">Jahnay.com</h2>
            <p class="text-muted">
              Is a website created because Himma bugged me. I garantee you it wont go no where. I bet you 3 dollars.
            </p>
          </div>

        </div>
      </div>
    </footer>
