<% layout("layouts/boilerplate") %>

<section class="section-hero">
  <div class="bg-light text-black text-sm-center">
    <div class="container py-5 pt-lg-6">
      <h1 class="text-headline mb-4">Someting big</h1>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="lead text-passion text-dark mb-0">
            AUTHENTICITY | SELF-LOVE | MENTAL HEALTH
          </p>
        </div>
        <div class="col-10">
          <p class="bio-text mt-5">Jahnay Bryan-Gooden (“Jahnay Go”) is a rising senior studying Chemistry and Chemical Biology at Cornell University and is not shy in expressing her dedication to a more authentic world. Embarking on her new journey
            at Cornell University, Jahnay discovered many students had a shared experience: questioning their self-worth. Despite the prevalence of this issue, there was no representation. She asked herself “Where are these real conversations? And
            why don’t I bring them to the public?”In her sophomore year, she limited her on-campus involvements to dedicate more time to building The Narrative Vodcast, a vodcast and social media platform dedicated to building the foundation for an
            authentic future. Since its debut in October 2020, vodcast host Jahnay Go has interviewed top personalities including Issa Rae. In recognition of her work, she has been featured on panels and events at different universities, sponsored by
            student organizations such as Cornell Minds Matter and Body Positive Cornell, and led workshops to guide students on their unique, authentic journeys. By highlighting special guests ready to speak their truth, she aims to encourage people
            to believe in themselves, follow their passions, and embrace the freedom associated with authenticity. Jahnay asks that everyone join the movement.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq-section">
  <!-- Accordion -->
  <div class="container py-6">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xxl-8">
        <h2 class="faq-title text-center text-white mb-5">Frequently asked questions</h2>
        <div class="accordion" id="accordionFaq">
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Where can I watch?
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                The Narrative is a vodcast so you can access episodes on all podcast platforms including Apple Podcasts, Spotify, and Google Play as well as YouTube. Dont forget to leave a 5-star review and tell us what the narrative means to you.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Why should I care about authenticity?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                Living an authentic life enables you to tap into your ultimate potential and live your most creative, abundant, and happy life.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I join The Narrative’s community?
              </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                Narrative’s community? Currently, you can join the community by subscribing to “The Narrativ Vodcaast” on YouTube, subscribe on any podcast platform, follow us on instagram and twitter @thenarrativevod, and reshare and comment on our
                posts.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-calendar">
  <div class="text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2 class="font-sans">Just write someting that invites people to check on her calendar</h2>
      <p class="lead mb-4">Just write someting to make things look important.</p>
      <a href="https://calendar.google.com/calendar/u/2?cid=OTlxbGFmZ2xvbjJqNmFwYnRpbWJrN2NkNjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" class="btn btn-outline-dark btn-calendar">Calendar</a>
    </div>
  </div>
</section>

<section class="section-headshots">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xxl-9">
      <h2 class="text-download">Approved photos</h2>
      <p class="lead mb-4 text-download-small">
        Duis aute irure dolor in reprehenderit in voluptate.
      </p>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img src="/images/jahnay3.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay5.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img src="/images/jahnay5.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay5.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/jahnay2.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay2.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img src="/images/jahnay6.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay5.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img src="/images/jahnay4.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay4.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <img src="/images/jahnay1.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <a href="/images/jahnay1.jpg" download class="btn-outline-dark download-btn">Download image</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
