/*

The Narrative

colors    hero bg - #a9c1a9; nav color - #F4F3E7; headline text color - #0E150E brown - #e8dcc6; light green - #d8e5d6;

1. nav color = navbar.
2. light green = hero
3. nav color = bg , brown = circles rest, light green = circles hover.
4. brown = youtube video section
5. nav color = contact
6. light green = footer




*/


body {
  font-family: Fira Sans, sans-serif;
  font-weight: 400;
}

.navbar {
  padding-bottom: 0;
  /* border-bottom: 1px solid #262626; */
  border-bottom: 1px solid #f2f1f1;
}

.bg-black {
  background: #F4F3E7;
}

.navbar-custom {
  min-height: 90px;
}

.navbar-brand {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #072f26 !important;
}

.nav-link {
  border-bottom: 3px solid transparent;
  color: #072f26 !important;
  display: inline-block;
  letter-spacing: 2px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: border-color .2s linear;
}

.nav-link-social {
  color: red !important;
  letter-spacing: 2px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* transition: border-color .2s linear; */
}

.nav-link:hover {
  border-bottom: 3px solid #072f26;
  transition: border-color .2s linear;
}

.navbar .nav-item+.nav-item::before {
  content: '\2022';
  color: #a6a6a6;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (max-width: 1200px) {
  .navbar .nav-item+.nav-item::before {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-social {
    display: none;
  }
}

.nav-social-media {
  margin-bottom: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.facebook-left {
  margin-left: 60px;
}

@media only screen and (max-width: 1200px) {
  .facebook-left {
    margin-left: 0;
  }
}

.nav-social-link {
  color: #072f26 !important;
}

.nav-social-link:hover {
  color: #a9c1a9 !important;
}

.nav-social-mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .nav-social-mobile {
    display: block;
  }
}

/* ===== Hero section ===== */

.section-hero {
  margin-top: 90px;

}

.bio-text {
  font-size: 1.1rem;
}

.bg-light {
  padding-top: 3.5rem;
  padding-bottom: 7rem;
  background-color: #d8e5d6 !important;
}

.bg-image {
  margin-top: -107px;
}

.card-hero {
  border: 0;

}

.card-img {
  border-radius:0;
}

.text-headline {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.15;
}

.text-passion {
  font-size: 1.5rem;
  font-weight: 300 !important;
}

.card-text:last-child {
  margin-top: 150px;
}

.text-narrative {
  font-size: 1rem;
  font-weight: 300 !important;
  line-height: 1.5;
  margin-top: 50px;
  text-align: justify;
}

.section-headshots {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

/* ====================================== */
.section-one {
  background: #0e0e0e;
  margin-top: 5rem;
}

.dark {
  color: #0e0e0e;
}

.py-one {
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.image-margin {
  margin-top: -100px;
}

.cover {
  background-image: url("/images/jahnay3.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.cover-two {
  background-color: #ece4e5;
  background-size: cover;
  background-position: left bottom;
  height: 80vh;
}

.text-position {
  font-family: 'Water Brush', cursive;
  padding-top: 45%;
}

.text-hero {
  font-size: 5.5rem;
}

.card-text {
  margin-top: 0;
  font-family: "Playfair Display",serif;
  font-size: 1.3rem;
  /* font-weight: 500; */
  line-height: 1.2;
  color: snow white;
  text-align: justify;
}

.bio-text {
  text-align:justify;
}

/* =========== FAQ section ========= */

.faq-section {
  background-color:  #F4F3E7;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.accordion-body {
  background-color: #F4F3E7;
  color: #072f26;
  font-family: Fira, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.accordion-item {
  border:1px solid #072f26;
}

.accordion-button.collapsed {
    border-bottom-width: 0;
    color: #072f26;
    font-size: 1.7rem;
}

.accordion-button {
  font-size: 2rem;
}

.accordion-item {
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 4rem;
}


.accordion-button:not(.collapsed) {
    color: #072f26;
    background-color: #d8e5d6;
}



.accordion-button:hover{
  background-color: #d8e5d6;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23072f26'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.faq-title {
  color: #072f26 !important;
  margin-top: 0;
  font-family: "Playfair Display",serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}


/*  ----- Calendar ------ */

.section-calendar {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #a9c1a9;
}

.btn-calendar {
  text-decoration: none;
  color: #072f26;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid #072f26;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-calendar:hover {
  background-color: #072f26;
}

/* =========== Downloadable pics section =========== */

.section-headshots {
  background-color: #e8dcc6;
}
.card-img-top {
  /* width: 100%; */
  height: 30vw;
  object-fit: cover;
  border-radius: 0;
}

@media only screen and (max-width: 1200px) {
  .card-img-top {
    height: 80vw;
  }
}

.text-download {
  color: #072f26;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.2;
}

.text-download-small {
  color: #072f26;
  font-size: 2rem;
  font-weight: 200;
}

.card {
  background-color: #d8e5d6;
  border-radius: 0;
}

.download-btn {
  text-decoration: none;
  color: #072f26;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 2px solid #072f26;
  padding: 0.75rem 1.5rem;
  font-size: .9rem;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline {
  background-color: transparent !important;
  border-color: #072f26;
}

.download-btn:hover {
    background-color: #a9c1a9;
}


/* =============== Narretive Page Styling =================== */


/* ============ hero section ============== */


.section-hero {
  margin-top: 90px;
}

.narrative {
  padding-top: 3.5rem;
  background-color: #d8e5d6 !important;
}

.bg-image {
  margin-top: -107px;
}

.card-hero {
  border: 0;

}

.card-img {
  border-radius:0;
}

.text-headline {
  font-family: 'Gentium Basic', serif;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.15;
  color: #000;
}

.text-passion {
  font-size: 1.5rem;
  font-weight: 300 !important;
}

.card-text {
  color: #243A73;
}

.bg-green {
  background-color: #d8e5d6;
  /* padding-top: 3.5rem; */
  padding-bottom: 3.5rem;
}

.card-text:last-child {
  margin-top: 160px;
}

.letter-n {
  font-family: 'Tiro Tamil', serif;
  font-size: 8rem;
  margin-top: -52px;
    margin-left: -63px;
}

.bi-circle {
  margin-left: -51px;
    margin-top: 79px;
}

.circle-div-two {
  margin-left: -258px;
}


.narrative-main-text {
      font-family: Fira Sans, sans-serif;
      font-size: 20px;
      text-align: justify;
}

.circles-div {
  text-align:center;
}

.hero-narrative {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
  background-color: #0e0e0e;
  margin-top: 90px;
}

.img-podcast {
  margin-top: -110px;
}

@media only screen and (max-width: 1200px) {
  .img-podcast {
    margin-top: 1px;
  }

}

.display-3 {
  font-size: 5rem;
    font-weight: 600;
    color: snow;
    margin-top: -20px;
}

.text-narrative {
  /* font-family: Fira Sans,sans-serif; */
  /* font-size:1.2rem; */
  /* font-weight: 400; */
  font-size: 1rem;
  font-weight: 300 !important;
  line-height: 1.5;
  margin-top: 50px;
  text-align:justify;
}

.text-pink {
color:  #ff9185;
}
.img-podcast {
  border-radius: 0;
}

@media only screen and (max-width: 1200px) {
  .services-content {
    display: table;
  }

  .services-image {
    display: table-header-group;
  }
}


/* ======== Social Section ======== */

.section-social {
  background-color: #F4F3E7;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.social-text {
  color:#072f26;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.15;
}

.social-text-2 {
  color:#072f26;
}


.square::before {
    padding-top: 100%;
}

.square::before {
    display: block;
    content: '';
}
.rounded-circle {
    border-radius: 50%!important;
}

.fs-xl-4 {
    font-size: 3rem!important;
}

.bg-social-icon {
    background-color: #e8dcc6!important;
}

.bg-social-icon:hover {
  background-color: #d8e5d6!important;
}

a {
  text-decoration: none;
}

.social-link {
  color: #072f26;
}

.social-link:hover {
  color: #d8e5d6;
}


.social-icon {
  color: #072f26;
}

/* ======= YouTube Sample Section ======= */

.youtube-section {
  background-color: #e8dcc6;
}

.py-10 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}



@media only screen and (max-width: 1200px) {
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
}

@media only screen and (max-width: 1200px) {

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* ---- Footer ---- */

.footer-padding {
  padding-top: 5.5rem;
  /* padding-bottom: 2.5rem; */
}
.footer-title {
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 1.2;
}

.footer-list li a{
  font-size: 1.2rem;
  text-decoration: none;
}

/* ===================================== */
.row-cover {
  margin-top: 90px;
}

.col-one {
  padding-right: 0;
  padding-left: 0;
}

.col-two {
  padding-right: 0;
  padding-left: 0;
}

/* .blue {
  background-color: blue;
  padding-right: 0;
} */
.yellow {
  background-color: #FFF8F3;
}
